{% extends 'main/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block body %}
<div class="container-fluid px-5">
    <div class="row pt-4">

        {% for product_item in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-5">
            <div class="card text-center" style="width: 14rem;">
                <img class="card-img-top" src="{{product_item.image.url}}" alt="Card image cap" height="150px">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'product_details' product_item.id %}">{{product_item.title}}</a></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: Rs {{product_item.price}}</li>
                </ul>
                <div class="card-body bg-info">
                    <a href="#" class="card-link text-white">Add to Cart <i class="fas fa-shopping-cart"> </i></a>
                </div>
            </div>
        </div>
        {% endfor %}


        <!-- {% for category_item in category %}
            <h1>{{category_item.name}}</h1>
            {% for product_item in category_item.item_set.all %}
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-5">
                        <div class="card text-center" style="width: 14rem;">
                            <img class="card-img-top" src="{{product_item.image.url}}" alt="Card image cap" height="150px">
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">{{product_item.title}}</a></h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Price: Rs {{product_item.price}}</li>
                            </ul>
                            <div class="card-body bg-info">
                                <a href="#" class="card-link text-white">Add to Cart <i class="fas fa-shopping-cart"> </i></a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        {% endfor %} -->
        
    </div>
</div>

{% endblock body %}

